<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Bog App</title>
</head>
<body>
   
   <h3>The Creature</h3>
   
   Name: <%= @creature.name %> <br>
   Description: <%= @creature.description %>
   <%=button_to "Edit", "/creatures/#{@creature.id}/edit", method: :get  %>   
   
   <form action="/" method="get">
      <button type="submit">Return to Index</button>
   </form>


</body>
</html>